:root {
    --colorLinks : rgb(255, 255, 255);
    --colorNavbar :  rgba(124, 16, 16, 0.507);
    --colorBackgroundPage : rgb(31, 28, 28);
    --colorBackgroundSection : rgb(59, 45, 45);
    --colorText : rgb(187, 187, 187);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    line-height: 1.6;
    font-family: 'Roboto Mono', monospace;
    background-color: var(--colorBackgroundPage);
}

/* =========================== HEADER =============================== */

header {
    display: flex;
    flex-direction: column;
    height: 1000px;
    
    background-image: url(./images/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow:  2px 2px 20px 5px inset;
    box-shadow:  2px 2px 20px 5px black;
}

.menuImage {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;

}
.menuImage img {
    height: 200px;
}

a {
    color: var(--colorLinks) ;
    font-size: 20px;
    font-weight: 700;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    
    background-color: var(--colorNavbar);
}

.menu {
    display: flex;

}

.menu li {
    margin: 0 20px;
    padding: 0 15px;


}

.menu li a:hover {
    border-bottom: 2px solid var(--colorLinks);
    
}

.menuLogin {
    display: flex;

}

.menuLogin li {
    margin: 0 20px;
    
}

.menuLogin li a:hover {
    border-bottom: 2px solid var(--colorLinks);
    
}

/* =========================== MAIN =============================== */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    padding: 50px 0;
    /* border: 5px solid violet; */
}

/* =========================== ABOUT =============================== */

.about {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: var(--colorText);
    width: 100%;
    
    padding: 40px 20px;
    margin: 20px 0;
    box-shadow:  2px 2px 20px 5px black;
    background-color: var(--colorBackgroundSection);

    /* border: 1px solid red; */
    /* border-radius: 10px;  */

}

.aboutTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 60px;
    font-size: 20px;
    
}

.aboutTitle h1 {
    font-size: 40px;
}

.aboutTitle h1::after {
    content: "";
    display: block;
    height: 1px;
    background-color: black;
    width: 200px;
    margin-bottom: 16px;

} 

.about img {
    width: 50rem;

    border-radius: 10px;
    margin-left: 10px;
}


/* =========================== FEATURES =============================== */

.features {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--colorText);
}

.features img {
    width: 50rem;
    border-radius: 10px;
    margin-left: 10px;
}

.section {
    box-shadow:  2px 2px 20px 5px black;
    background-color: var(--colorBackgroundSection);

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    margin: 20px 0;
    /* border: 1px solid red; */
}

.sectionTitle {
    display: flex;
    flex-direction: column;

    margin: 0 60px;
    font-size: 20px;
}

.sectionTitle h2 {
    font-size: 40px;
}

.sectionTitle h2::after {
    content: "";
    display: block;
    height: 1px;
    background-color: black;
    width: 100px;
    margin-bottom: 16px;
} 

/* .explore img {
    width: 50rem;
} */

/* .equip {
    box-shadow:  2px 2px 20px 5px black;
    background-color: var(--colorBackgroundSection);

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    padding: 20px;
    margin: 20px 0;
    /* border: 1px solid  red; 
}

/* .equipTitle {
    display: flex;
    flex-direction: column;

    margin: 0 20px;
    font-size: 20px;
}

.equipTitle h2 {
    font-size: 40px;
} */

/* .equipTitle h2::after {
    content: "";
    display: block;
    height: 1px;
    background-color: black;
    width: 100px;
    margin-bottom: 16px;
} */

/* .equip img {
    width: 50rem;
} */

/* .aLife {
    box-shadow:  2px 2px 20px 5px black;
    background-color: var(--colorBackgroundSection);

    display: flex;
    width: 100%;
    align-items: center;
    
    padding: 20px;
    margin: 20px 0;
    /* border: 1px solid red; 
} 

/* .aLifeTitle {
    display: flex;
    flex-direction: column;

    margin: 0 20px;
    font-size: 20px;
} */

/* .aLifeTitle h2 {
    font-size: 40px;
}

.aLifeTitle h2::after {
    content: "";
    display: block;
    height: 1px;
    background-color: black;
    width: 100px;
    margin-bottom: 16px;
} */

/* .aLife img {
    width: 50rem;
} */

/* =========================== MEDIA =============================== */

.media {
    
    display: grid;
    justify-content: center;
    grid-template-columns:  500px 500px 500px;
    grid-template-rows: 500px 500px;
    gap: 10px;

    margin: 20px 0;
    box-shadow:  2px 2px 20px 5px black;
    /* border: 1px solid violet; */
}
.media  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media > div{
    
    /* border: 1px red solid; */
    font-size: 50px;
    text-align: center;
}

/* =========================== CONTACTS =============================== */

.contactsDiv {
    box-shadow:  2px 2px 20px 5px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--colorBackgroundSection);
    width: 100%;
    padding: 20px 0;

    /* border: 1px red solid; */
}

.contactsHeader{
display: flex;
justify-content: center;
align-items: center;

}

.contactsHeader h3 {
    font-size: 40px;
    color: var(--colorText);
}
.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.contacts input {
    width: 20rem;
    color: var(--colorText);
    border: none;
    border-bottom: 1px solid black;
    background-color: var(--colorBackgroundSection);
    padding: 10px;
    margin-top: 20px;
}

.contacts textarea {
    width: 20rem;
    height: 20rem;
    margin-top: 20px;
}

.contacts .contactsButton {
    background-color: rgb(196, 89, 89);
}

.contactsButton:hover {
    background-color: rgb(141, 66, 66);
}

/* =========================== FOOTER =============================== */

footer {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--colorBackgroundSection);
    margin-top: 20px;
    box-shadow:  2px 2px 20px 5px black
}

.linkFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.community {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.socialLinks {
    display: flex;
}

.socialLinks a {
    padding: 0 20px;
} 

.community h3 {
    font-size: 30px;
    padding-bottom: 20px;
}

/* =========================== LOG-IN PAGE =============================== */

.loginMain {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    width: 400px;
    background-color: var(--colorBackgroundSection);
    box-shadow:  2px 2px 20px 5px black;
    color: var(--colorText);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;

    
    border-radius: 20px;
}

.loginContainer form {
    display: flex;
    flex-direction: column;
}

.loginContainer label {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.loginContainer input {
    padding: 10px 20px;

    border: none;
    border-bottom: 1px solid black;
} 

.loginContainer .loginButton {
    margin-top: 30px;
    padding: 10px 30px;
    border: none;
    background-color: rgb(196, 89, 89);
}

.loginContainer .loginButton:hover {
    color: var(--colorText);
    background-color: rgb(141, 66, 66) ;
}

.loginCheckbox {
    display: flex;
    justify-content: center; 
}


.loginCheckbox input {
    margin-right: 5px;
    margin-top: 20px;
}

/* =========================== REGISTER PAGE =============================== */

.registerMain {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.registerContainer {
    background-color: var(--colorBackgroundSection);
    box-shadow:  2px 2px 20px 5px black;
    color: var(--colorText);

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    
    padding: 40px 0;
    border-radius: 20px;
}

.registerContainer form {
    display: flex;
    flex-direction: column;
    
}

.registerContainer label {
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
}

.registerContainer input {
    border: none;
    border-bottom: 1px solid black;

    padding: 10px 20px;
    
}

.registerContainer .registerButton {
    border: none;
    margin-top: 30px;
    padding: 10px 30px;
    background-color: rgb(196, 89, 89);
}

.registerContainer .registerButton:hover {
    color: var(--colorText);
    background-color: rgb(141, 66, 66) ;
}

/* =========================== MEDIA QUERY =============================== */

@media only screen and (max-width: 780px) {
    /* .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } */

    .menu {
        flex-direction: column;
    }

    .menuLogin {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1600px){
    .about {
        flex-direction: column;
    }

    .about img {
        margin-top: 20px;
        width: 40rem;
    }

    .features img {
        margin-top: 20px;
        width: 40rem;
    }

    .section {
        flex-direction: column;
    }

    .media {
        grid-template-columns: 400px 400px;
        grid-template-rows: 400px 400px 400px;
    }

    /* .explore {
        flex-direction: column;
    } */
/* 
    .explore img {
        width: 40rem;
    } */

    /* .equip {
        flex-direction: column;
    } */

    /* .equip img {
        width: 40rem;
    } */

    /* .aLife {
        flex-direction: column;
    } */

    /* .aLife img {
        width: 40rem;
    } */
}

@media only screen and (max-width: 900px) {
    .menuImage img {
        height: 100px;
    }

    .about {
        flex-direction: column;
    }

    .features img {
        width: 30rem;
    }

    .about img {
        width: 30rem;
    } 

    
    .socialLinks{
        justify-content: space-evenly;
    }

    .socialLinks img {
        width: 40px;
    }

    /* .explore {
        flex-direction: column;
    } */

    /* .explore img {
        width: 30rem;
    } */

    /* .equip {
        flex-direction: column;
    } */

    /* .equip img {
        width: 30rem;
    } */

    /* .aLife {
        flex-direction: column;
    } */

    /* .aLife img {
        width: 30rem;
    } */

    .media {
        grid-template-columns: 400px ;
        grid-template-rows: 400px 400px 400px 400px 400px 400px;
    }
}

@media only screen and (max-width: 620px) {
    .about {
        flex-direction: column;
    }

    .features img {
        width: 20rem;
    }

    .about img {
        width: 20rem;
    } 


    /* .explore {
        flex-direction: column;
    } */

    /* .explore img {
        width: 20rem;
    } */

    /* .equip {
        flex-direction: column;
    } */

    /* .equip img {
        width: 20rem;
    } */

    /* .aLife {
        flex-direction: column;
    } */

    /* .aLife img {
        width: 20rem;
    } */
}

@media only screen and (max-width: 420px){
    .about {
        flex-direction: column;
    }

    .about img {
        width: 18rem;
    }

    .features img {
        width: 18rem;
    }

    /* .explore {
        flex-direction: column;
    } */

    /* .explore img {
        width: 18rem;
    } */

    /* .equip {
        flex-direction: column;
    } */

    /* .equip img {
        width: 18rem;
    } */
/* 
    .aLife {
        flex-direction: column;
    } */

    /* .aLife img {
        width: 18rem;
    } */
}
